body{
	background : #E5E5E5;
	position: relative;
}

.componentes-centrales{
	position: relative;
	width: 700px;
	margin: 0px auto;
	height: 800px;
	
}
.texto{
	color :darkblue;
	font-size : 32px;
	font-family: 'Oxygen', sans-serif;
}
.botones{
	margin: 20px 0px;
	position: absolute;
	bottom: 0px;
}
.botones button{
	display : inline;
	padding : 24px;
	width : 328px;
	border-radius: 20px;
	border-style: solid;
	border-color: #000077 ;
	margin : 0px 5px;
}
.boton1{
	background :#0A3871;
}
.contenedor{
	position :absolute;
	top: 40px;
	right: 0px;
	width: 400px;
	height: 944px;
	display: block;
	text-align: center;
}
.rectangulo{
	width: 400px;
	height: 944px;
	border-radius: 32px;
	text-align: center;
	vertical-align: top;
	display: flex;
	justify-content: center;
}
.subcontenedor{
	width: 400px;
	height: 944px;
	position: absolute;
	top: 50%;
	transform: translateY(-25%);
	text-align: center;
}

